@use 'baseLayouts';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$shadowColor: rgba(150, 0, 200, 0.5);
$tittleColor: #bd05f5;
$bgImg: linear-gradient(to left, rgb(160, 0, 200), rgb(125, 0, 133), black, rgb(35, 31, 31));
$btnA: linear-gradient(45deg, #b700ff, #8601c4, #9e0096, #5a0075);
$btnB: rgba(127, 3, 151, 0.65);

.peugeotPage {

    font-family: "Poppins", sans-serif;
    background: linear-gradient(150deg, black, rgb(250, 0, 0), black);

    .menu {

        .navbar ul li a:hover {
            color: $tittleColor;
        }

    }

    .header {
        background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(/assets/PeugeotBanner.webp);
        background-position: center top;
    }

    .header-content {

        h1 {
            -webkit-text-stroke: 2px $tittleColor;
            background-image: $bgImg;
        }

        h1:hover {
            text-shadow: $shadowColor,
                         $shadowColor,
                         $shadowColor,
                         $shadowColor,
                         $shadowColor,
                         $shadowColor;
        }

    }

    .cars {
        background: linear-gradient(45deg, black, rgba(140, 0, 255, 0.397));
    }

    .btn-1 {

        a i, 
        a i:nth-child(2) {
            background: $btnA;
        }

        a span {
            background: $btnB;
        }
        
    }

    @media(max-width:991px){

        .menu{
            padding: 30px;
        }

        .menu label {
            display: initial;
        }

        .menu .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #323337;
            display: none;
        }

        .menu .navbar ul li {
            width: 100%;
        }

        #menu:checked ~ .navbar {
            display: initial;
        }

        .header {
            min-height: 0vh;
        }

        .header-content {
            padding: 100px 30px;

            h1 {
                font-size: 45px;
                -webkit-text-stroke: 1px $tittleColor;
            }

            p {
                padding: 0;
                font-size: 14px;
            }
        }

        .cars {
            padding: 30px;
        }

        .cars-content h2 {
            padding: 0;
        }

        .txt-p {
            padding: 0;
        }

        .cars-group {
            flex-direction: column;
            margin-bottom: 0;
        }

        .cars-img {
            display: none;
        }

        .btn-1 {
            margin-bottom: 10px;
        }

        .footer {
            padding: 30px;
        }

        .footer-content {
            flex-direction: column;
            text-align: center;
        }
    }

}